{{ define "main" }}

{{- partial "content/breadcrumb.html" . -}}

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-14">

  <section class="md:col-span-2">

    <h2 class="text-3xl font-bold mb-10">{{ .Title | humanize }}</h2>

    <ul class="grid grid-cols-1 md:grid-cols-2 gap-10 text-2xl">

      {{- range .Pages -}}

      <li class="relative hover:bg-zinc-200 border py-6 px-8 rounded-2xl group">
      	<a class="insert-link flex items-center space-x-4" href="{{ .RelPermalink }}">
      		<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="group-hover:animate-spin" viewBox="0 0 16 16">
        <path d="M3.5 2A1.5 1.5 0 0 0 2 3.5v3.293a1.5 1.5 0 0 0 .44 1.06l5.707 5.707a1.5 1.5 0 0 0 2.121 0l3.292-3.293a1.5 1.5 0 0 0 0-2.121L7.854 2.439A1.5 1.5 0 0 0 6.793 2H3.5Zm1 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"/>
			</svg>
      		<span>{{ .LinkTitle | humanize }}</span></a>
  		</li>

      {{ end }}
    
    </ul>
  
  </section>

  <aside class="md:col-span-1">

    {{- partial "content/aside.html" . -}}
    
  </aside>

  </div>

{{ end }}